<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.iss.exchange.core.pay.dao.ExPayBatchInstructionIntDetailMapper">

	<insert id="addExPayBatchInstructionIntDetail" parameterType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail">
		insert into t_ex_pay_batch_instruction_int_detail(ex_pay_batch_instruction_in_id,ex_rec_account_no,ex_rec_account_name,ex_rec_branch_name,ex_rec_branch_type,ex_rec_bank_cnaps,ex_rec_city_name,ex_rec_provice_name,ex_rec_branch_unite_code,ex_rec_card_flag,ex_rec_cont_phone,ex_order_id,ex_order_no,ex_order_bank_no,ex_pay_type,ex_pay_amt,ex_curr_type,ex_sys_io_flg,ex_is_same_city,ex_prop,ex_pay_bus_type,ex_summary,ex_post_script,ex_req_resvered1,ex_req_resvered2,creator,modifier,create_time,last_modifi_time) 
		values(IFNULL(#{exPayBatchInstructionInId},''),IFNULL(#{exRecAccountNo},''),IFNULL(#{exRecAccountName},''),IFNULL(#{exRecBranchName},''),IFNULL(#{exRecBranchType},''),IFNULL(#{exRecBankCnaps},''),IFNULL(#{exRecCityName},''),IFNULL(#{exRecProviceName},''),IFNULL(#{exRecBranchUniteCode},''),IFNULL(#{exRecCardFlag},''),IFNULL(#{exRecContPhone},''),IFNULL(#{exOrderId},''),IFNULL(#{exOrderNo},''),IFNULL(#{exOrderBankNo},''),IFNULL(#{exPayType},''),IFNULL(#{exPayAmt},''),IFNULL(#{exCurrType},''),IFNULL(#{exSysIoFlg},''),IFNULL(#{exIsSameCity},''),IFNULL(#{exProp},''),IFNULL(#{exPayBusType},''),IFNULL(#{exSummary},''),IFNULL(#{exPostScript},''),IFNULL(#{exReqResvered1},''),IFNULL(#{exReqResvered2},''),IFNULL(#{creator},''),IFNULL(#{modifier},''),now(),#{lastModifiTime})
	</insert>

	<insert id="batchAddExPayBatchInstructionIntDetail" parameterType="java.util.List">
		insert into t_ex_pay_batch_instruction_int_detail(ex_pay_batch_instruction_in_id,ex_rec_account_no,ex_rec_account_name,ex_rec_branch_name,ex_rec_branch_type,ex_rec_bank_cnaps,ex_rec_city_name,ex_rec_provice_name,ex_rec_branch_unite_code,ex_rec_card_flag,ex_rec_cont_phone,ex_order_id,ex_order_no,ex_order_bank_no,ex_pay_type,ex_pay_amt,ex_curr_type,ex_sys_io_flg,ex_is_same_city,ex_prop,ex_pay_bus_type,ex_summary,ex_post_script,ex_req_resvered1,ex_req_resvered2,creator,modifier,create_time,last_modifi_time)
		values
		<foreach collection="list" item="item" index="index" separator="," >
		(IFNULL(#{item.exPayBatchInstructionInId},''),IFNULL(#{item.exRecAccountNo},''),IFNULL(#{item.exRecAccountName},''),IFNULL(#{item.exRecBranchName},''),IFNULL(#{item.exRecBranchType},''),IFNULL(#{item.exRecBankCnaps},''),IFNULL(#{item.exRecCityName},''),IFNULL(#{item.exRecProviceName},''),IFNULL(#{item.exRecBranchUniteCode},''),IFNULL(#{item.exRecCardFlag},''),IFNULL(#{item.exRecContPhone},''),IFNULL(#{item.exOrderId},''),IFNULL(#{item.exOrderNo},''),IFNULL(#{item.exOrderBankNo},''),IFNULL(#{item.exPayType},''),IFNULL(#{item.exPayAmt},''),IFNULL(#{item.exCurrType},''),IFNULL(#{item.exSysIoFlg},''),IFNULL(#{item.exIsSameCity},''),IFNULL(#{item.exProp},''),IFNULL(#{item.exPayBusType},''),IFNULL(#{item.exSummary},''),IFNULL(#{item.exPostScript},''),IFNULL(#{item.exReqResvered1},''),IFNULL(#{item.exReqResvered2},''),IFNULL(#{item.creator},''),IFNULL(#{item.modifier},''),now(),#{item.lastModifiTime})
		</foreach>
	</insert>

	<delete id="deleteExPayBatchInstructionIntDetail" parameterType="BigInteger">
		delete from t_ex_pay_batch_instruction_int_detail  where ex_pay_batch_instruction_int_detail_id = #{exPayBatchInstructionIntDetailId}
	</delete>

	<delete id="batchDeleteExPayBatchInstructionIntDetail" parameterType="java.util.List">
		delete from t_ex_pay_batch_instruction_int_detail  where ex_pay_batch_instruction_int_detail_id in
		<foreach collection="exPayBatchInstructionIntDetailIdList" index="index" item="item" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>

	<update id="updateExPayBatchInstructionIntDetail" parameterType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail">
		update t_ex_pay_batch_instruction_int_detail set 
			<if test="exPayBatchInstructionIntDetailId!= null">ex_pay_batch_instruction_int_detail_id=#{exPayBatchInstructionIntDetailId},</if>
			<if test="exPayBatchInstructionInId!= null">ex_pay_batch_instruction_in_id=#{exPayBatchInstructionInId},</if>
			<if test="exRecAccountNo!= null">ex_rec_account_no=#{exRecAccountNo},</if>
			<if test="exRecAccountName!= null">ex_rec_account_name=#{exRecAccountName},</if>
			<if test="exRecBranchName!= null">ex_rec_branch_name=#{exRecBranchName},</if>
			<if test="exRecBranchType!= null">ex_rec_branch_type=#{exRecBranchType},</if>
			<if test="exRecBankCnaps!= null">ex_rec_bank_cnaps=#{exRecBankCnaps},</if>
			<if test="exRecCityName!= null">ex_rec_city_name=#{exRecCityName},</if>
			<if test="exRecProviceName!= null">ex_rec_provice_name=#{exRecProviceName},</if>
			<if test="exRecBranchUniteCode!= null">ex_rec_branch_unite_code=#{exRecBranchUniteCode},</if>
			<if test="exRecCardFlag!= null">ex_rec_card_flag=#{exRecCardFlag},</if>
			<if test="exRecContPhone!= null">ex_rec_cont_phone=#{exRecContPhone},</if>
			<if test="exOrderId!= null">ex_order_id=#{exOrderId},</if>
			<if test="exOrderNo!= null">ex_order_no=#{exOrderNo},</if>
			<if test="exOrderBankNo!= null">ex_order_bank_no=#{exOrderBankNo},</if>
			<if test="exPayType!= null">ex_pay_type=#{exPayType},</if>
			<if test="exPayAmt!= null">ex_pay_amt=#{exPayAmt},</if>
			<if test="exCurrType!= null">ex_curr_type=#{exCurrType},</if>
			<if test="exSysIoFlg!= null">ex_sys_io_flg=#{exSysIoFlg},</if>
			<if test="exIsSameCity!= null">ex_is_same_city=#{exIsSameCity},</if>
			<if test="exProp!= null">ex_prop=#{exProp},</if>
			<if test="exPayBusType!= null">ex_pay_bus_type=#{exPayBusType},</if>
			<if test="exSummary!= null">ex_summary=#{exSummary},</if>
			<if test="exPostScript!= null">ex_post_script=#{exPostScript},</if>
			<if test="exReqResvered1!= null">ex_req_resvered1=#{exReqResvered1},</if>
			<if test="exReqResvered2!= null">ex_req_resvered2=#{exReqResvered2},</if>
			modifier=#{modifier},
			<if test="lastModifiTime!= null">last_modifi_time=#{lastModifiTime},</if>

		where ex_pay_batch_instruction_int_detail_id = #{exPayBatchInstructionIntDetailId}
	</update>

	<select id="getExPayBatchInstructionIntDetail" parameterType="BigInteger" resultType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail">
		select
			ex_pay_batch_instruction_int_detail_id 	AS exPayBatchInstructionIntDetailId,
			ex_pay_batch_instruction_in_id         	AS exPayBatchInstructionInId,
			ex_rec_account_no                      	AS exRecAccountNo,
			ex_rec_account_name                    	AS exRecAccountName,
			ex_rec_branch_name                     	AS exRecBranchName,
			ex_rec_branch_type                     	AS exRecBranchType,
			ex_rec_bank_cnaps                      	AS exRecBankCnaps,
			ex_rec_city_name                       	AS exRecCityName,
			ex_rec_provice_name                    	AS exRecProviceName,
			ex_rec_branch_unite_code               	AS exRecBranchUniteCode,
			ex_rec_card_flag                       	AS exRecCardFlag,
			ex_rec_cont_phone                      	AS exRecContPhone,
			ex_order_id                            	AS exOrderId,
			ex_order_no                            	AS exOrderNo,
			ex_order_bank_no                       	AS exOrderBankNo,
			ex_pay_type                            	AS exPayType,
			ex_pay_amt                             	AS exPayAmt,
			ex_curr_type                           	AS exCurrType,
			ex_sys_io_flg                          	AS exSysIoFlg,
			ex_is_same_city                        	AS exIsSameCity,
			ex_prop                                	AS exProp,
			ex_pay_bus_type                        	AS exPayBusType,
			ex_summary                             	AS exSummary,
			ex_post_script                         	AS exPostScript,
			ex_req_resvered1                       	AS exReqResvered1,
			ex_req_resvered2                       	AS exReqResvered2,
			creator                                	AS creator,
			modifier                               	AS modifier,
			create_time                            	AS createTime,
			last_modifi_time                       	AS lastModifiTime
		from t_ex_pay_batch_instruction_int_detail
		where ex_pay_batch_instruction_int_detail_id = #{exPayBatchInstructionIntDetailId}
	</select>

	<select id="getExPayBatchInstructionIntDetailList" parameterType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail" resultType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail">
		select
			ex_pay_batch_instruction_int_detail_id 	AS exPayBatchInstructionIntDetailId,
			ex_pay_batch_instruction_in_id         	AS exPayBatchInstructionInId,
			ex_rec_account_no                      	AS exRecAccountNo,
			ex_rec_account_name                    	AS exRecAccountName,
			ex_rec_branch_name                     	AS exRecBranchName,
			ex_rec_branch_type                     	AS exRecBranchType,
			ex_rec_bank_cnaps                      	AS exRecBankCnaps,
			ex_rec_city_name                       	AS exRecCityName,
			ex_rec_provice_name                    	AS exRecProviceName,
			ex_rec_branch_unite_code               	AS exRecBranchUniteCode,
			ex_rec_card_flag                       	AS exRecCardFlag,
			ex_rec_cont_phone                      	AS exRecContPhone,
			ex_order_id                            	AS exOrderId,
			ex_order_no                            	AS exOrderNo,
			ex_order_bank_no                       	AS exOrderBankNo,
			ex_pay_type                            	AS exPayType,
			ex_pay_amt                             	AS exPayAmt,
			ex_curr_type                           	AS exCurrType,
			ex_sys_io_flg                          	AS exSysIoFlg,
			ex_is_same_city                        	AS exIsSameCity,
			ex_prop                                	AS exProp,
			ex_pay_bus_type                        	AS exPayBusType,
			ex_summary                             	AS exSummary,
			ex_post_script                         	AS exPostScript,
			ex_req_resvered1                       	AS exReqResvered1,
			ex_req_resvered2                       	AS exReqResvered2,
			creator                                	AS creator,
			modifier                               	AS modifier,
			create_time                            	AS createTime,
			last_modifi_time                       	AS lastModifiTime
		from t_ex_pay_batch_instruction_int_detail
		where ex_pay_batch_instruction_int_detail_id = #{exPayBatchInstructionIntDetailId}
	</select>

	<resultMap id="exPayBatchInstructionIntDetailDTO" type="com.iss.exchange.core.pay.dto.ExPayBatchInstructionIntDetailDTO" >
		<result column="ex_pay_batch_instruction_int_detail_id"  property="exPayBatchInstructionIntDetailId"/>
		<result column="ex_pay_batch_instruction_in_id"  property="exPayBatchInstructionInId"/>
		<result column="ex_rec_account_no"  property="exRecAccountNo"/>
		<result column="ex_rec_account_name"  property="exRecAccountName"/>
		<result column="ex_rec_branch_name"  property="exRecBranchName"/>
		<result column="ex_rec_branch_type"  property="exRecBranchType"/>
		<result column="ex_rec_bank_cnaps"  property="exRecBankCnaps"/>
		<result column="ex_rec_city_name"  property="exRecCityName"/>
		<result column="ex_rec_provice_name"  property="exRecProviceName"/>
		<result column="ex_rec_branch_unite_code"  property="exRecBranchUniteCode"/>
		<result column="ex_rec_branch_unite_desc"  property="exRecBranchUniteDesc"/>
		<result column="ex_rec_card_flag"  property="exRecCardFlag"/>
		<result column="ex_rec_cont_phone"  property="exRecContPhone"/>
		<result column="ex_order_id"  property="exOrderId"/>
		<result column="ex_order_no"  property="exOrderNo"/>
		<result column="ex_order_bank_no"  property="exOrderBankNo"/>
		<result column="ex_pay_type"  property="exPayType"/>
		<result column="ex_pay_amt"  property="exPayAmt"/>
		<result column="ex_curr_type"  property="exCurrType"/>
		<result column="ex_sys_io_flg"  property="exSysIoFlg"/>
		<result column="ex_is_same_city"  property="exIsSameCity"/>
		<result column="ex_prop"  property="exProp"/>
		<result column="ex_pay_bus_type"  property="exPayBusType"/>
		<result column="ex_summary"  property="exSummary"/>
		<result column="ex_post_script"  property="exPostScript"/>
		<result column="ex_req_resvered1"  property="exReqResvered1"/>
		<result column="ex_req_resvered2"  property="exReqResvered2"/>
		<result column="creator"  property="creator"/>
		<result column="modifier"  property="modifier"/>
		<result column="create_time"  property="createTime"/>
		<result column="last_modifi_time"  property="lastModifiTime"/>
	</resultMap>

	<select id="getExPayBatchInstructionIntDetailDTO" parameterType="BigInteger" resultMap="exPayBatchInstructionIntDetailDTO">
		select
			t.ex_pay_batch_instruction_int_detail_id 	AS ex_pay_batch_instruction_int_detail_id,
			t.ex_pay_batch_instruction_in_id         	AS ex_pay_batch_instruction_in_id,
			t.ex_rec_account_no                      	AS ex_rec_account_no,
			t.ex_rec_account_name                    	AS ex_rec_account_name,
			t.ex_rec_branch_name                     	AS ex_rec_branch_name,
			t.ex_rec_branch_type                     	AS ex_rec_branch_type,
			t.ex_rec_bank_cnaps                      	AS ex_rec_bank_cnaps,
			t.ex_rec_city_name                       	AS ex_rec_city_name,
			t.ex_rec_provice_name                    	AS ex_rec_provice_name,
			t.ex_rec_branch_unite_code               	AS ex_rec_branch_unite_code,
			(select code_desc from  where code_type = 'exRecBranchUniteCode' and code = t.ex_rec_branch_unite_code)	AS ex_rec_branch_unite_desc,
			t.ex_rec_card_flag                       	AS ex_rec_card_flag,
			t.ex_rec_cont_phone                      	AS ex_rec_cont_phone,
			t.ex_order_id                            	AS ex_order_id,
			t.ex_order_no                            	AS ex_order_no,
			t.ex_order_bank_no                       	AS ex_order_bank_no,
			t.ex_pay_type                            	AS ex_pay_type,
			t.ex_pay_amt                             	AS ex_pay_amt,
			t.ex_curr_type                           	AS ex_curr_type,
			t.ex_sys_io_flg                          	AS ex_sys_io_flg,
			t.ex_is_same_city                        	AS ex_is_same_city,
			t.ex_prop                                	AS ex_prop,
			t.ex_pay_bus_type                        	AS ex_pay_bus_type,
			t.ex_summary                             	AS ex_summary,
			t.ex_post_script                         	AS ex_post_script,
			t.ex_req_resvered1                       	AS ex_req_resvered1,
			t.ex_req_resvered2                       	AS ex_req_resvered2,
			t.creator                                	AS creator,
			t.modifier                               	AS modifier,
			t.create_time                            	AS create_time,
			t.last_modifi_time                       	AS last_modifi_time
		from t_ex_pay_batch_instruction_int_detail t
		where ex_pay_batch_instruction_int_detail_id = #{exPayBatchInstructionIntDetailId}
	</select>

	<select id="getExPayBatchInstructionIntDetailPageList" parameterType="com.iss.exchange.core.pay.entity.ExPayBatchInstructionIntDetail" resultMap="exPayBatchInstructionIntDetailDTO">
		select
			t.ex_pay_batch_instruction_int_detail_id 	AS ex_pay_batch_instruction_int_detail_id,
			t.ex_pay_batch_instruction_in_id         	AS ex_pay_batch_instruction_in_id,
			t.ex_rec_account_no                      	AS ex_rec_account_no,
			t.ex_rec_account_name                    	AS ex_rec_account_name,
			t.ex_rec_branch_name                     	AS ex_rec_branch_name,
			t.ex_rec_branch_type                     	AS ex_rec_branch_type,
			t.ex_rec_bank_cnaps                      	AS ex_rec_bank_cnaps,
			t.ex_rec_city_name                       	AS ex_rec_city_name,
			t.ex_rec_provice_name                    	AS ex_rec_provice_name,
			t.ex_rec_branch_unite_code               	AS ex_rec_branch_unite_code,
			(select code_desc from  where code_type = 'exRecBranchUniteCode' and code = t.ex_rec_branch_unite_code)	AS ex_rec_branch_unite_desc,
			t.ex_rec_card_flag                       	AS ex_rec_card_flag,
			t.ex_rec_cont_phone                      	AS ex_rec_cont_phone,
			t.ex_order_id                            	AS ex_order_id,
			t.ex_order_no                            	AS ex_order_no,
			t.ex_order_bank_no                       	AS ex_order_bank_no,
			t.ex_pay_type                            	AS ex_pay_type,
			t.ex_pay_amt                             	AS ex_pay_amt,
			t.ex_curr_type                           	AS ex_curr_type,
			t.ex_sys_io_flg                          	AS ex_sys_io_flg,
			t.ex_is_same_city                        	AS ex_is_same_city,
			t.ex_prop                                	AS ex_prop,
			t.ex_pay_bus_type                        	AS ex_pay_bus_type,
			t.ex_summary                             	AS ex_summary,
			t.ex_post_script                         	AS ex_post_script,
			t.ex_req_resvered1                       	AS ex_req_resvered1,
			t.ex_req_resvered2                       	AS ex_req_resvered2,
			t.creator                                	AS creator,
			t.modifier                               	AS modifier,
			t.create_time                            	AS create_time,
			t.last_modifi_time                       	AS last_modifi_time
		from t_ex_pay_batch_instruction_int_detail t
	</select>


</mapper>