<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.iss.exchange.core.rec.dao.ExRecRouteInstructionIntDetailMapper">

	<insert id="addExRecRouteInstructionIntDetail" parameterType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail">
		insert into t_ex_rec_route_instruction_int_detail(ex_rec_route_instruction_in_id,ex_pay_account_no,ex_pay_account_name,ex_pay_branch_name,ex_pay_branch_type,ex_pay_bank_cnaps,ex_pay_city_name,ex_pay_provice_name,ex_pay_branch_unite_code,ex_pay_card_flag,ex_pay_cont_phone,ex_order_id,ex_order_no,ex_order_bank_no,ex_rec_type,ex_rec_amt,ex_curr_type,ex_sys_io_flg,ex_is_same_city,ex_prop,ex_rec_bus_type,ex_summary,ex_post_script,ex_req_resvered1,ex_req_resvered2,creator,modifier,create_time,last_modifi_time) 
		values(IFNULL(#{exRecRouteInstructionInId},''),IFNULL(#{exPayAccountNo},''),IFNULL(#{exPayAccountName},''),IFNULL(#{exPayBranchName},''),IFNULL(#{exPayBranchType},''),IFNULL(#{exPayBankCnaps},''),IFNULL(#{exPayCityName},''),IFNULL(#{exPayProviceName},''),IFNULL(#{exPayBranchUniteCode},''),IFNULL(#{exPayCardFlag},''),IFNULL(#{exPayContPhone},''),IFNULL(#{exOrderId},''),IFNULL(#{exOrderNo},''),IFNULL(#{exOrderBankNo},''),IFNULL(#{exRecType},''),IFNULL(#{exRecAmt},''),IFNULL(#{exCurrType},''),IFNULL(#{exSysIoFlg},''),IFNULL(#{exIsSameCity},''),IFNULL(#{exProp},''),IFNULL(#{exRecBusType},''),IFNULL(#{exSummary},''),IFNULL(#{exPostScript},''),IFNULL(#{exReqResvered1},''),IFNULL(#{exReqResvered2},''),IFNULL(#{creator},''),IFNULL(#{modifier},''),now(),#{lastModifiTime})
	</insert>

	<insert id="batchAddExRecRouteInstructionIntDetail" parameterType="java.util.List">
		insert into t_ex_rec_route_instruction_int_detail(ex_rec_route_instruction_in_id,ex_pay_account_no,ex_pay_account_name,ex_pay_branch_name,ex_pay_branch_type,ex_pay_bank_cnaps,ex_pay_city_name,ex_pay_provice_name,ex_pay_branch_unite_code,ex_pay_card_flag,ex_pay_cont_phone,ex_order_id,ex_order_no,ex_order_bank_no,ex_rec_type,ex_rec_amt,ex_curr_type,ex_sys_io_flg,ex_is_same_city,ex_prop,ex_rec_bus_type,ex_summary,ex_post_script,ex_req_resvered1,ex_req_resvered2,creator,modifier,create_time,last_modifi_time)
		values
		<foreach collection="list" item="item" index="index" separator="," >
		(IFNULL(#{item.exRecRouteInstructionInId},''),IFNULL(#{item.exPayAccountNo},''),IFNULL(#{item.exPayAccountName},''),IFNULL(#{item.exPayBranchName},''),IFNULL(#{item.exPayBranchType},''),IFNULL(#{item.exPayBankCnaps},''),IFNULL(#{item.exPayCityName},''),IFNULL(#{item.exPayProviceName},''),IFNULL(#{item.exPayBranchUniteCode},''),IFNULL(#{item.exPayCardFlag},''),IFNULL(#{item.exPayContPhone},''),IFNULL(#{item.exOrderId},''),IFNULL(#{item.exOrderNo},''),IFNULL(#{item.exOrderBankNo},''),IFNULL(#{item.exRecType},''),IFNULL(#{item.exRecAmt},''),IFNULL(#{item.exCurrType},''),IFNULL(#{item.exSysIoFlg},''),IFNULL(#{item.exIsSameCity},''),IFNULL(#{item.exProp},''),IFNULL(#{item.exRecBusType},''),IFNULL(#{item.exSummary},''),IFNULL(#{item.exPostScript},''),IFNULL(#{item.exReqResvered1},''),IFNULL(#{item.exReqResvered2},''),IFNULL(#{item.creator},''),IFNULL(#{item.modifier},''),now(),#{item.lastModifiTime})
		</foreach>
	</insert>

	<delete id="deleteExRecRouteInstructionIntDetail" parameterType="BigInteger">
		delete from t_ex_rec_route_instruction_int_detail  where ex_rec_route_instruction_int_detail_id = #{exRecRouteInstructionIntDetailId}
	</delete>

	<delete id="batchDeleteExRecRouteInstructionIntDetail" parameterType="java.util.List">
		delete from t_ex_rec_route_instruction_int_detail  where ex_rec_route_instruction_int_detail_id in
		<foreach collection="exRecRouteInstructionIntDetailIdList" index="index" item="item" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>

	<update id="updateExRecRouteInstructionIntDetail" parameterType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail">
		update t_ex_rec_route_instruction_int_detail set 
			<if test="exRecRouteInstructionIntDetailId!= null">ex_rec_route_instruction_int_detail_id=#{exRecRouteInstructionIntDetailId},</if>
			<if test="exRecRouteInstructionInId!= null">ex_rec_route_instruction_in_id=#{exRecRouteInstructionInId},</if>
			<if test="exPayAccountNo!= null">ex_pay_account_no=#{exPayAccountNo},</if>
			<if test="exPayAccountName!= null">ex_pay_account_name=#{exPayAccountName},</if>
			<if test="exPayBranchName!= null">ex_pay_branch_name=#{exPayBranchName},</if>
			<if test="exPayBranchType!= null">ex_pay_branch_type=#{exPayBranchType},</if>
			<if test="exPayBankCnaps!= null">ex_pay_bank_cnaps=#{exPayBankCnaps},</if>
			<if test="exPayCityName!= null">ex_pay_city_name=#{exPayCityName},</if>
			<if test="exPayProviceName!= null">ex_pay_provice_name=#{exPayProviceName},</if>
			<if test="exPayBranchUniteCode!= null">ex_pay_branch_unite_code=#{exPayBranchUniteCode},</if>
			<if test="exPayCardFlag!= null">ex_pay_card_flag=#{exPayCardFlag},</if>
			<if test="exPayContPhone!= null">ex_pay_cont_phone=#{exPayContPhone},</if>
			<if test="exOrderId!= null">ex_order_id=#{exOrderId},</if>
			<if test="exOrderNo!= null">ex_order_no=#{exOrderNo},</if>
			<if test="exOrderBankNo!= null">ex_order_bank_no=#{exOrderBankNo},</if>
			<if test="exRecType!= null">ex_rec_type=#{exRecType},</if>
			<if test="exRecAmt!= null">ex_rec_amt=#{exRecAmt},</if>
			<if test="exCurrType!= null">ex_curr_type=#{exCurrType},</if>
			<if test="exSysIoFlg!= null">ex_sys_io_flg=#{exSysIoFlg},</if>
			<if test="exIsSameCity!= null">ex_is_same_city=#{exIsSameCity},</if>
			<if test="exProp!= null">ex_prop=#{exProp},</if>
			<if test="exRecBusType!= null">ex_rec_bus_type=#{exRecBusType},</if>
			<if test="exSummary!= null">ex_summary=#{exSummary},</if>
			<if test="exPostScript!= null">ex_post_script=#{exPostScript},</if>
			<if test="exReqResvered1!= null">ex_req_resvered1=#{exReqResvered1},</if>
			<if test="exReqResvered2!= null">ex_req_resvered2=#{exReqResvered2},</if>
			modifier=#{modifier},
			<if test="lastModifiTime!= null">last_modifi_time=#{lastModifiTime},</if>

		where ex_rec_route_instruction_int_detail_id = #{exRecRouteInstructionIntDetailId}
	</update>

	<select id="getExRecRouteInstructionIntDetail" parameterType="BigInteger" resultType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail">
		select
			ex_rec_route_instruction_int_detail_id 	AS exRecRouteInstructionIntDetailId,
			ex_rec_route_instruction_in_id         	AS exRecRouteInstructionInId,
			ex_pay_account_no                      	AS exPayAccountNo,
			ex_pay_account_name                    	AS exPayAccountName,
			ex_pay_branch_name                     	AS exPayBranchName,
			ex_pay_branch_type                     	AS exPayBranchType,
			ex_pay_bank_cnaps                      	AS exPayBankCnaps,
			ex_pay_city_name                       	AS exPayCityName,
			ex_pay_provice_name                    	AS exPayProviceName,
			ex_pay_branch_unite_code               	AS exPayBranchUniteCode,
			ex_pay_card_flag                       	AS exPayCardFlag,
			ex_pay_cont_phone                      	AS exPayContPhone,
			ex_order_id                            	AS exOrderId,
			ex_order_no                            	AS exOrderNo,
			ex_order_bank_no                       	AS exOrderBankNo,
			ex_rec_type                            	AS exRecType,
			ex_rec_amt                             	AS exRecAmt,
			ex_curr_type                           	AS exCurrType,
			ex_sys_io_flg                          	AS exSysIoFlg,
			ex_is_same_city                        	AS exIsSameCity,
			ex_prop                                	AS exProp,
			ex_rec_bus_type                        	AS exRecBusType,
			ex_summary                             	AS exSummary,
			ex_post_script                         	AS exPostScript,
			ex_req_resvered1                       	AS exReqResvered1,
			ex_req_resvered2                       	AS exReqResvered2,
			creator                                	AS creator,
			modifier                               	AS modifier,
			create_time                            	AS createTime,
			last_modifi_time                       	AS lastModifiTime
		from t_ex_rec_route_instruction_int_detail
		where ex_rec_route_instruction_int_detail_id = #{exRecRouteInstructionIntDetailId}
	</select>

	<select id="getExRecRouteInstructionIntDetailList" parameterType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail" resultType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail">
		select
			ex_rec_route_instruction_int_detail_id 	AS exRecRouteInstructionIntDetailId,
			ex_rec_route_instruction_in_id         	AS exRecRouteInstructionInId,
			ex_pay_account_no                      	AS exPayAccountNo,
			ex_pay_account_name                    	AS exPayAccountName,
			ex_pay_branch_name                     	AS exPayBranchName,
			ex_pay_branch_type                     	AS exPayBranchType,
			ex_pay_bank_cnaps                      	AS exPayBankCnaps,
			ex_pay_city_name                       	AS exPayCityName,
			ex_pay_provice_name                    	AS exPayProviceName,
			ex_pay_branch_unite_code               	AS exPayBranchUniteCode,
			ex_pay_card_flag                       	AS exPayCardFlag,
			ex_pay_cont_phone                      	AS exPayContPhone,
			ex_order_id                            	AS exOrderId,
			ex_order_no                            	AS exOrderNo,
			ex_order_bank_no                       	AS exOrderBankNo,
			ex_rec_type                            	AS exRecType,
			ex_rec_amt                             	AS exRecAmt,
			ex_curr_type                           	AS exCurrType,
			ex_sys_io_flg                          	AS exSysIoFlg,
			ex_is_same_city                        	AS exIsSameCity,
			ex_prop                                	AS exProp,
			ex_rec_bus_type                        	AS exRecBusType,
			ex_summary                             	AS exSummary,
			ex_post_script                         	AS exPostScript,
			ex_req_resvered1                       	AS exReqResvered1,
			ex_req_resvered2                       	AS exReqResvered2,
			creator                                	AS creator,
			modifier                               	AS modifier,
			create_time                            	AS createTime,
			last_modifi_time                       	AS lastModifiTime
		from t_ex_rec_route_instruction_int_detail
		where ex_rec_route_instruction_int_detail_id = #{exRecRouteInstructionIntDetailId}
	</select>

	<resultMap id="exRecRouteInstructionIntDetailDTO" type="com.iss.exchange.core.rec.dto.ExRecRouteInstructionIntDetailDTO" >
		<result column="ex_rec_route_instruction_int_detail_id"  property="exRecRouteInstructionIntDetailId"/>
		<result column="ex_rec_route_instruction_in_id"  property="exRecRouteInstructionInId"/>
		<result column="ex_pay_account_no"  property="exPayAccountNo"/>
		<result column="ex_pay_account_name"  property="exPayAccountName"/>
		<result column="ex_pay_branch_name"  property="exPayBranchName"/>
		<result column="ex_pay_branch_type"  property="exPayBranchType"/>
		<result column="ex_pay_bank_cnaps"  property="exPayBankCnaps"/>
		<result column="ex_pay_city_name"  property="exPayCityName"/>
		<result column="ex_pay_provice_name"  property="exPayProviceName"/>
		<result column="ex_pay_branch_unite_code"  property="exPayBranchUniteCode"/>
		<result column="ex_pay_branch_unite_desc"  property="exPayBranchUniteDesc"/>
		<result column="ex_pay_card_flag"  property="exPayCardFlag"/>
		<result column="ex_pay_cont_phone"  property="exPayContPhone"/>
		<result column="ex_order_id"  property="exOrderId"/>
		<result column="ex_order_no"  property="exOrderNo"/>
		<result column="ex_order_bank_no"  property="exOrderBankNo"/>
		<result column="ex_rec_type"  property="exRecType"/>
		<result column="ex_rec_amt"  property="exRecAmt"/>
		<result column="ex_curr_type"  property="exCurrType"/>
		<result column="ex_sys_io_flg"  property="exSysIoFlg"/>
		<result column="ex_is_same_city"  property="exIsSameCity"/>
		<result column="ex_prop"  property="exProp"/>
		<result column="ex_rec_bus_type"  property="exRecBusType"/>
		<result column="ex_summary"  property="exSummary"/>
		<result column="ex_post_script"  property="exPostScript"/>
		<result column="ex_req_resvered1"  property="exReqResvered1"/>
		<result column="ex_req_resvered2"  property="exReqResvered2"/>
		<result column="creator"  property="creator"/>
		<result column="modifier"  property="modifier"/>
		<result column="create_time"  property="createTime"/>
		<result column="last_modifi_time"  property="lastModifiTime"/>
	</resultMap>

	<select id="getExRecRouteInstructionIntDetailDTO" parameterType="BigInteger" resultMap="exRecRouteInstructionIntDetailDTO">
		select
			t.ex_rec_route_instruction_int_detail_id 	AS ex_rec_route_instruction_int_detail_id,
			t.ex_rec_route_instruction_in_id         	AS ex_rec_route_instruction_in_id,
			t.ex_pay_account_no                      	AS ex_pay_account_no,
			t.ex_pay_account_name                    	AS ex_pay_account_name,
			t.ex_pay_branch_name                     	AS ex_pay_branch_name,
			t.ex_pay_branch_type                     	AS ex_pay_branch_type,
			t.ex_pay_bank_cnaps                      	AS ex_pay_bank_cnaps,
			t.ex_pay_city_name                       	AS ex_pay_city_name,
			t.ex_pay_provice_name                    	AS ex_pay_provice_name,
			t.ex_pay_branch_unite_code               	AS ex_pay_branch_unite_code,
			(select code_desc from  where code_type = 'exPayBranchUniteCode' and code = t.ex_pay_branch_unite_code)	AS ex_pay_branch_unite_desc,
			t.ex_pay_card_flag                       	AS ex_pay_card_flag,
			t.ex_pay_cont_phone                      	AS ex_pay_cont_phone,
			t.ex_order_id                            	AS ex_order_id,
			t.ex_order_no                            	AS ex_order_no,
			t.ex_order_bank_no                       	AS ex_order_bank_no,
			t.ex_rec_type                            	AS ex_rec_type,
			t.ex_rec_amt                             	AS ex_rec_amt,
			t.ex_curr_type                           	AS ex_curr_type,
			t.ex_sys_io_flg                          	AS ex_sys_io_flg,
			t.ex_is_same_city                        	AS ex_is_same_city,
			t.ex_prop                                	AS ex_prop,
			t.ex_rec_bus_type                        	AS ex_rec_bus_type,
			t.ex_summary                             	AS ex_summary,
			t.ex_post_script                         	AS ex_post_script,
			t.ex_req_resvered1                       	AS ex_req_resvered1,
			t.ex_req_resvered2                       	AS ex_req_resvered2,
			t.creator                                	AS creator,
			t.modifier                               	AS modifier,
			t.create_time                            	AS create_time,
			t.last_modifi_time                       	AS last_modifi_time
		from t_ex_rec_route_instruction_int_detail t
		where ex_rec_route_instruction_int_detail_id = #{exRecRouteInstructionIntDetailId}
	</select>

	<select id="getExRecRouteInstructionIntDetailPageList" parameterType="com.iss.exchange.core.rec.entity.ExRecRouteInstructionIntDetail" resultMap="exRecRouteInstructionIntDetailDTO">
		select
			t.ex_rec_route_instruction_int_detail_id 	AS ex_rec_route_instruction_int_detail_id,
			t.ex_rec_route_instruction_in_id         	AS ex_rec_route_instruction_in_id,
			t.ex_pay_account_no                      	AS ex_pay_account_no,
			t.ex_pay_account_name                    	AS ex_pay_account_name,
			t.ex_pay_branch_name                     	AS ex_pay_branch_name,
			t.ex_pay_branch_type                     	AS ex_pay_branch_type,
			t.ex_pay_bank_cnaps                      	AS ex_pay_bank_cnaps,
			t.ex_pay_city_name                       	AS ex_pay_city_name,
			t.ex_pay_provice_name                    	AS ex_pay_provice_name,
			t.ex_pay_branch_unite_code               	AS ex_pay_branch_unite_code,
			(select code_desc from  where code_type = 'exPayBranchUniteCode' and code = t.ex_pay_branch_unite_code)	AS ex_pay_branch_unite_desc,
			t.ex_pay_card_flag                       	AS ex_pay_card_flag,
			t.ex_pay_cont_phone                      	AS ex_pay_cont_phone,
			t.ex_order_id                            	AS ex_order_id,
			t.ex_order_no                            	AS ex_order_no,
			t.ex_order_bank_no                       	AS ex_order_bank_no,
			t.ex_rec_type                            	AS ex_rec_type,
			t.ex_rec_amt                             	AS ex_rec_amt,
			t.ex_curr_type                           	AS ex_curr_type,
			t.ex_sys_io_flg                          	AS ex_sys_io_flg,
			t.ex_is_same_city                        	AS ex_is_same_city,
			t.ex_prop                                	AS ex_prop,
			t.ex_rec_bus_type                        	AS ex_rec_bus_type,
			t.ex_summary                             	AS ex_summary,
			t.ex_post_script                         	AS ex_post_script,
			t.ex_req_resvered1                       	AS ex_req_resvered1,
			t.ex_req_resvered2                       	AS ex_req_resvered2,
			t.creator                                	AS creator,
			t.modifier                               	AS modifier,
			t.create_time                            	AS create_time,
			t.last_modifi_time                       	AS last_modifi_time
		from t_ex_rec_route_instruction_int_detail t
	</select>


</mapper>