<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.iss.exchange.core.pay.dao.ExRecBatchInstructionIntMapper">

	<insert id="addExRecBatchInstructionInt" parameterType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt">
		insert into t_ex_rec_batch_instruction_int(ex_version,ex_tx_time,ex_agency_code,ex_agency_name,ex_login_id,ex_login_pwd,ex_tx_pack_no,ex_rec_account_no,ex_rec_account_name,ex_rec_branch_name,ex_rec_brabch_type,ex_rec_provice_name,ex_rec_city_name,creator,modifier,create_time,last_modifi_time) 
		values(IFNULL(#{exVersion},''),IFNULL(#{exTxTime},''),IFNULL(#{exAgencyCode},''),IFNULL(#{exAgencyName},''),IFNULL(#{exLoginId},''),IFNULL(#{exLoginPwd},''),IFNULL(#{exTxPackNo},''),IFNULL(#{exRecAccountNo},''),IFNULL(#{exRecAccountName},''),IFNULL(#{exRecBranchName},''),IFNULL(#{exRecBrabchType},''),IFNULL(#{exRecProviceName},''),IFNULL(#{exRecCityName},''),IFNULL(#{creator},''),IFNULL(#{modifier},''),now(),#{lastModifiTime})
	</insert>

	<insert id="batchAddExRecBatchInstructionInt" parameterType="java.util.List">
		insert into t_ex_rec_batch_instruction_int(ex_version,ex_tx_time,ex_agency_code,ex_agency_name,ex_login_id,ex_login_pwd,ex_tx_pack_no,ex_rec_account_no,ex_rec_account_name,ex_rec_branch_name,ex_rec_brabch_type,ex_rec_provice_name,ex_rec_city_name,creator,modifier,create_time,last_modifi_time)
		values
		<foreach collection="list" item="item" index="index" separator="," >
		(IFNULL(#{item.exVersion},''),IFNULL(#{item.exTxTime},''),IFNULL(#{item.exAgencyCode},''),IFNULL(#{item.exAgencyName},''),IFNULL(#{item.exLoginId},''),IFNULL(#{item.exLoginPwd},''),IFNULL(#{item.exTxPackNo},''),IFNULL(#{item.exRecAccountNo},''),IFNULL(#{item.exRecAccountName},''),IFNULL(#{item.exRecBranchName},''),IFNULL(#{item.exRecBrabchType},''),IFNULL(#{item.exRecProviceName},''),IFNULL(#{item.exRecCityName},''),IFNULL(#{item.creator},''),IFNULL(#{item.modifier},''),now(),#{item.lastModifiTime})
		</foreach>
	</insert>

	<delete id="deleteExRecBatchInstructionInt" parameterType="BigInteger">
		delete from t_ex_rec_batch_instruction_int  where ex_rec_batch_instruction_in_id = #{exRecBatchInstructionInId}
	</delete>

	<delete id="batchDeleteExRecBatchInstructionInt" parameterType="java.util.List">
		delete from t_ex_rec_batch_instruction_int  where ex_rec_batch_instruction_in_id in
		<foreach collection="exRecBatchInstructionInIdList" index="index" item="item" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>

	<update id="updateExRecBatchInstructionInt" parameterType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt">
		update t_ex_rec_batch_instruction_int set 
			<if test="exRecBatchInstructionInId!= null">ex_rec_batch_instruction_in_id=#{exRecBatchInstructionInId},</if>
			<if test="exVersion!= null">ex_version=#{exVersion},</if>
			<if test="exTxTime!= null">ex_tx_time=#{exTxTime},</if>
			<if test="exAgencyCode!= null">ex_agency_code=#{exAgencyCode},</if>
			<if test="exAgencyName!= null">ex_agency_name=#{exAgencyName},</if>
			<if test="exLoginId!= null">ex_login_id=#{exLoginId},</if>
			<if test="exLoginPwd!= null">ex_login_pwd=#{exLoginPwd},</if>
			<if test="exTxPackNo!= null">ex_tx_pack_no=#{exTxPackNo},</if>
			<if test="exRecAccountNo!= null">ex_rec_account_no=#{exRecAccountNo},</if>
			<if test="exRecAccountName!= null">ex_rec_account_name=#{exRecAccountName},</if>
			<if test="exRecBranchName!= null">ex_rec_branch_name=#{exRecBranchName},</if>
			<if test="exRecBrabchType!= null">ex_rec_brabch_type=#{exRecBrabchType},</if>
			<if test="exRecProviceName!= null">ex_rec_provice_name=#{exRecProviceName},</if>
			<if test="exRecCityName!= null">ex_rec_city_name=#{exRecCityName},</if>
			modifier=#{modifier},
			<if test="lastModifiTime!= null">last_modifi_time=#{lastModifiTime},</if>

		where ex_rec_batch_instruction_in_id = #{exRecBatchInstructionInId}
	</update>

	<select id="getExRecBatchInstructionInt" parameterType="BigInteger" resultType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt">
		select
			ex_rec_batch_instruction_in_id 	AS exRecBatchInstructionInId,
			ex_version                     	AS exVersion,
			ex_tx_time                     	AS exTxTime,
			ex_agency_code                 	AS exAgencyCode,
			ex_agency_name                 	AS exAgencyName,
			ex_login_id                    	AS exLoginId,
			ex_login_pwd                   	AS exLoginPwd,
			ex_tx_pack_no                  	AS exTxPackNo,
			ex_rec_account_no              	AS exRecAccountNo,
			ex_rec_account_name            	AS exRecAccountName,
			ex_rec_branch_name             	AS exRecBranchName,
			ex_rec_brabch_type             	AS exRecBrabchType,
			ex_rec_provice_name            	AS exRecProviceName,
			ex_rec_city_name               	AS exRecCityName,
			creator                        	AS creator,
			modifier                       	AS modifier,
			create_time                    	AS createTime,
			last_modifi_time               	AS lastModifiTime
		from t_ex_rec_batch_instruction_int
		where ex_rec_batch_instruction_in_id = #{exRecBatchInstructionInId}
	</select>

	<select id="getExRecBatchInstructionIntList" parameterType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt" resultType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt">
		select
			ex_rec_batch_instruction_in_id 	AS exRecBatchInstructionInId,
			ex_version                     	AS exVersion,
			ex_tx_time                     	AS exTxTime,
			ex_agency_code                 	AS exAgencyCode,
			ex_agency_name                 	AS exAgencyName,
			ex_login_id                    	AS exLoginId,
			ex_login_pwd                   	AS exLoginPwd,
			ex_tx_pack_no                  	AS exTxPackNo,
			ex_rec_account_no              	AS exRecAccountNo,
			ex_rec_account_name            	AS exRecAccountName,
			ex_rec_branch_name             	AS exRecBranchName,
			ex_rec_brabch_type             	AS exRecBrabchType,
			ex_rec_provice_name            	AS exRecProviceName,
			ex_rec_city_name               	AS exRecCityName,
			creator                        	AS creator,
			modifier                       	AS modifier,
			create_time                    	AS createTime,
			last_modifi_time               	AS lastModifiTime
		from t_ex_rec_batch_instruction_int
		where ex_rec_batch_instruction_in_id = #{exRecBatchInstructionInId}
	</select>

	<resultMap id="exRecBatchInstructionIntDTO" type="com.iss.exchange.core.pay.dto.ExRecBatchInstructionIntDTO" >
		<result column="ex_rec_batch_instruction_in_id"  property="exRecBatchInstructionInId"/>
		<result column="ex_version"  property="exVersion"/>
		<result column="ex_tx_time"  property="exTxTime"/>
		<result column="ex_agency_code"  property="exAgencyCode"/>
		<result column="ex_agency_desc"  property="exAgencyDesc"/>
		<result column="ex_agency_name"  property="exAgencyName"/>
		<result column="ex_login_id"  property="exLoginId"/>
		<result column="ex_login_pwd"  property="exLoginPwd"/>
		<result column="ex_tx_pack_no"  property="exTxPackNo"/>
		<result column="ex_rec_account_no"  property="exRecAccountNo"/>
		<result column="ex_rec_account_name"  property="exRecAccountName"/>
		<result column="ex_rec_branch_name"  property="exRecBranchName"/>
		<result column="ex_rec_brabch_type"  property="exRecBrabchType"/>
		<result column="ex_rec_provice_name"  property="exRecProviceName"/>
		<result column="ex_rec_city_name"  property="exRecCityName"/>
		<result column="creator"  property="creator"/>
		<result column="modifier"  property="modifier"/>
		<result column="create_time"  property="createTime"/>
		<result column="last_modifi_time"  property="lastModifiTime"/>
	</resultMap>

	<select id="getExRecBatchInstructionIntDTO" parameterType="BigInteger" resultMap="exRecBatchInstructionIntDTO">
		select
			t.ex_rec_batch_instruction_in_id 	AS ex_rec_batch_instruction_in_id,
			t.ex_version                     	AS ex_version,
			t.ex_tx_time                     	AS ex_tx_time,
			t.ex_agency_code                 	AS ex_agency_code,
			(select code_desc from  where code_type = 'exAgencyCode' and code = t.ex_agency_code)	AS ex_agency_desc,
			t.ex_agency_name                 	AS ex_agency_name,
			t.ex_login_id                    	AS ex_login_id,
			t.ex_login_pwd                   	AS ex_login_pwd,
			t.ex_tx_pack_no                  	AS ex_tx_pack_no,
			t.ex_rec_account_no              	AS ex_rec_account_no,
			t.ex_rec_account_name            	AS ex_rec_account_name,
			t.ex_rec_branch_name             	AS ex_rec_branch_name,
			t.ex_rec_brabch_type             	AS ex_rec_brabch_type,
			t.ex_rec_provice_name            	AS ex_rec_provice_name,
			t.ex_rec_city_name               	AS ex_rec_city_name,
			t.creator                        	AS creator,
			t.modifier                       	AS modifier,
			t.create_time                    	AS create_time,
			t.last_modifi_time               	AS last_modifi_time
		from t_ex_rec_batch_instruction_int t
		where ex_rec_batch_instruction_in_id = #{exRecBatchInstructionInId}
	</select>

	<select id="getExRecBatchInstructionIntPageList" parameterType="com.iss.exchange.core.pay.entity.ExRecBatchInstructionInt" resultMap="exRecBatchInstructionIntDTO">
		select
			t.ex_rec_batch_instruction_in_id 	AS ex_rec_batch_instruction_in_id,
			t.ex_version                     	AS ex_version,
			t.ex_tx_time                     	AS ex_tx_time,
			t.ex_agency_code                 	AS ex_agency_code,
			(select code_desc from  where code_type = 'exAgencyCode' and code = t.ex_agency_code)	AS ex_agency_desc,
			t.ex_agency_name                 	AS ex_agency_name,
			t.ex_login_id                    	AS ex_login_id,
			t.ex_login_pwd                   	AS ex_login_pwd,
			t.ex_tx_pack_no                  	AS ex_tx_pack_no,
			t.ex_rec_account_no              	AS ex_rec_account_no,
			t.ex_rec_account_name            	AS ex_rec_account_name,
			t.ex_rec_branch_name             	AS ex_rec_branch_name,
			t.ex_rec_brabch_type             	AS ex_rec_brabch_type,
			t.ex_rec_provice_name            	AS ex_rec_provice_name,
			t.ex_rec_city_name               	AS ex_rec_city_name,
			t.creator                        	AS creator,
			t.modifier                       	AS modifier,
			t.create_time                    	AS create_time,
			t.last_modifi_time               	AS last_modifi_time
		from t_ex_rec_batch_instruction_int t
	</select>


</mapper>